<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification Page</title>

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      header,
      nav,
      main,
      footer {
        margin: 20px;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <header>
      <h1>Notifications</h1>
    </header>

    <nav>
      <!-- You can add a navigation menu here if needed -->
    </nav>

    <main>
      <section>
        <p id="userId"><%= user_id %></p>
        <h2>Notification List</h2>

        <br />
        <h2>Notifikasi Belum DIbaca</h2>
        <ul id="list-false">
          <% notifications.forEach(item=>{ %> <% if(!item.is_read){%>
          <li id="<%= item.id %>">
            <a href="/notification/<%=item.id%>/mark-is-read">
              <b> <%= item.title%> </b></a
            >
            <p><%= item.body%></p>
          </li>
          <% } %> <% }) %>
          <br />
        </ul>

        <br />
        <h2>Notifikasi Sudah DIbaca</h2>
        <ul id="list-true">
          <% notifications.forEach(item=>{ %> <% if(item.is_read){%>
          <li id="<%= item.id %>" style="color: gray">
            <b> <%= item.title%> </b>
            <p><%= item.body%></p>
          </li>
          <% } %> <% }) %>
        </ul>
      </section>
    </main>

    <footer>
      <p>&copy; 2023 tatangdev. All rights reserved.</p>
    </footer>

    <!-- You can add additional scripts for handling notifications if needed -->
    <script src="http://localhost:8000/socket.io/socket.io.js"></script>
    <script>
      let socket = io();
      const notifTitle = document.getElementById("notifTitle");
      let userId = document.getElementById("userId");
      let notifTopic = `user-${userId.textContent.replace(/\s/g, "")}`;
      let notificationTrue = document.getElementById("list-true");
      let notificationFalse = document.getElementById("list-false");

      socket.on(notifTopic, (notif) => {
        let item = document.createElement("li");
        item.innerHTML = `
        <a href="/notification/${notif.id}/mark-is-read">
              <b>${notif.title}</b></a>
            <p>${notif.body}</p>`;
      
        if (notif.is_read) { 
          const findElement = document.getElementById(`${notif.id}`);
          findElement.remove();
          item.style.color = "gray";
          item.innerHTML = `
            <b>${notif.title}</b>
            <p>${notif.body}</p>`;
          notificationTrue.appendChild(item);
        } else {
          console.log("false");
          item.setAttribute('id',notif.id);
          notificationFalse.appendChild(item);
        }
      });
      
    </script>
  </body>
</html>
